body{
  background: url("img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.usernameAndPassword{
  color: white;
}
.table thead{
	background: GoldenRod;
	
}

tbody {
    display:block;
    height:25em;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.footerText{
  padding: 1%;
}
